.container{
	display:grid;
	grid-template-columns:repeat(2,2fr);
	
	border:2px solid black;
	width:200px;
	align-items:center;
}
.item{
	margin:2px;
	padding:20px;
	border:blue;
	background-color:tomato;
}

/* Your CSS Code here. */